body {
	font-family:"Helvetica Neue",Helvetica,sans-serif;
	background: #E1E1E1;
	position: absolute;
	width: 100%;	height: 100%;
	margin: 0;		padding: 0;

	-webkit-touch-callout: none;	-webkit-user-select: none;
	-moz-user-select: none;			-ms-user-select: none;
	-khtml-user-select: none;		user-select: none;
}
ul {
	margin: 0;			padding: 0;
	cursor: pointer;	list-style: none;
	font-size: 14px;
}
a {
	text-decoration: none;
	color: black;
}
li {
	padding: 15px 20px 15px 0;
	font-size: 14px;
	font-weight: 600;
}

#h-header, #h-body, #h-panel, #h-content, .in-row, #h-content-button, .h-page {	
	display: flex;		position: relative;
	transition: .3s;	box-sizing: border-box;
	cursor: default;
}

#h-header {
	height: 42px;	z-index: 2;
	left: 0;		right: 0;
	padding: 9px 32px;
	background: #1976d2;
	box-shadow: 0 0 15px #666;
}

#h-body {
	height: Calc(100% - 42px);
	left: 0;		top: 0;
}

/* panel and content */
#h-panel {
	overflow-x: hidden;
	width: 18%;			height: 100%;

	box-shadow: 0 0 15px #666;
	background: #fff;
	flex-direction: column;
}
#h-content {
	overflow: auto;		display: block;
	flex-direction: column;
	width: 82%;
	height: 100%;
	padding: 0 6%;
}

.in-row {
	width: 100%;
	flex-direction: row;
}
#h-panel-controls-search {
	border-radius: 5px;		border: 1px solid #E6E6E6;
	height: 43px;			width: Calc(100% - 41px);
	margin: 10px 0;			padding: 0 12px;

	color: #666;	
	font-style: italic;
	box-sizing: border-box;
}
#h-panel-controls-loop, #h-panel-controls-button, #h-content-button {	width: 32px; 	height: 32px;	}

#h-panel-controls-loop { 	padding: 15px 0 15px 10px;}
#h-panel-controls-title {	height: 32px;	line-height: 32px;	font-size: 19px;		font-weight: bold;		color: #1976d2;		flex-grow: 1;	}
#h-content-button {			position: fixed;		display: none;		left: 0;		top: 74px;	}

.h-body-close #h-panel {			width: 0;		padding: 0;	}
.h-body-close #h-content-button {	left: 32px;		display: block;	}
.h-body-close #h-content {			width: 100%;	padding: 0 10%;	}

.h-table-s {		width: 100%;	border: 0;	}
.h-content-text {	width: 50%;		vertical-align: top;	}
.h-content-images {	width: 50%;		vertical-align: top;	}

.h-content-ico {	width: 50px;	vertical-align: top;	text-align: center;	}
.h-content-description {	width: Calc(100%-50px);	}
.h-image {	margin: 0 4px;	}


.h-page {
	color: #333;		background: #fff;
	margin: 25px 0;		padding: 30px;
	border-radius: 5px;	box-shadow: 0 0 15px #444;
}
#h-active-link {	color: #1976d2; }
#h-panel-controls {		padding: 0 32px; 	margin-top: 32px;}


.h-lvl-1 > li {	padding-left: 32px;	color: #333;	}
.h-lvl-2 > li {	padding-left: 47px; color: #555;	}
.h-lvl-3 > li {	padding-left: 62px;	color: #777;	}

#h-panel-list {
	display: flex;
	flex-grow: 1;
	position: relative;
} 
#h-panel-scrollbar, #h-panel-slider {	transition: .3s;	border-radius: 5px;		position: absolute;		width: 10px;}
#h-panel-scrollbar {	right: 0;		height: 100%;		background: none;		z-index: 3;}
#h-panel-slider {	height: 30px;	}

#h-panel-list:hover #h-panel-slider {								transition: .0s;	box-shadow: inset 0 0 3px #777;		background: #fff;	}
#h-panel-list:hover #h-panel-scrollbar, #h-panel-scrollbar:active {	transition: .0s;	box-shadow: inset 0 0 3px #aaa;		background: #e1e1e1; }
#h-panel-scrollbar:active #h-panel-slider {							transition: .0s;	box-shadow: inset 0 0 3px #777;		background: #aaa;	}

#h-panel-list-back {
	position: absolute;		height: 100%;
	overflow: hidden;		width: 100%;
}

li:hover {	background: #ddd;	}

.h-s {		background: yellow;	}
#h-s-c {	background: orange;	}

.h-lvl-1 > .h-link-line {		padding-left: 28px;		border-left: 4px solid #1976d2;	}