.pu-container {
	left: 0;	right: 0;
	bottom: 0;	top: 0;
	display: block;				position: absolute;
	background: #ededed;		overflow: auto;
}
.pu-backplate {
	left: 0;	top: 0;
	position: absolute;			display: block;
	background: #ededed;
}
.pu-canvas {
	position: absolute;			display: block;
	border: 1px solid #aaa;		background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.pu-move {
	position: absolute;
	cursor: move;
	display: block;
	z-index: 9997;
}
.pu-resize {
	z-index: 9998;
	position: absolute;			display: none;
	width: 9px;					height: 9px;
	border: 1px solid #bbb;		border-radius: 5px;
	background: white;
}
.pu-border {
	position: absolute;
	cursor: move;
}
.pu-rectangle {
	z-index: 3;
	position: absolute;
	cursor: default;
	top: 4px;	left: 4px;
	right: 4px;	bottom: 4px;
	border: 1px solid transparent;
}
.pu-select .pu-rectangle {	border: 1px dashed #ccc; }
.pu-select .pu-resize {		display: block;	}
.pu-rectangle-resize, .pu-rectangle-select {
	box-sizing: border-box;
	position: absolute;
	z-index: 8;
	opacity: 0.3;
	border: 1px solid #fff;
}

.pu-rectangle-resize {		box-shadow: 0 0 10px #222;		background: #888;	}
.pu-rectangle-select {		box-shadow: 0 0 10px #0a5dc7;	background: #3e8ff5;	}