.cu-panel {
	font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
	-webkit-user-select:	none;
	-moz-user-select:		none;
	-ms-user-select: 		none;
	font-size: 14px;
	position: absolute;
	left: 0; top: 0; bottom: 0; right: 0;
	margin: 3px;
	overflow: hidden;
}
.cu-panel-header {
	position: absolute;
	top: 0;		height: 30px;
	left: 0;	right: 0;
}
.cu-panel-content {
	position: absolute;
	top: 72px;	bottom: 12px;
	left: 0;		right: 0;
	overflow: hidden;
}
.cu-panel-header-left, .cu-panel-header-right {
	top:0;
	bottom: 0;	width: 30px;
}
.cu-panel-header-left { left: 0; }
.cu-panel-header-right { right: 0; }

.cu-panel-top, .cu-panel-bottom, .cu-panel-header-title, .cu-panel-header-left, .cu-panel-header-right {
	display: flex;
	position: absolute;
	justify-content: center;
	align-items: center;
	transition: .2s;
}

.cu-panel-header-title {
	left: 30px;	right: 30px;
	top: 0;		bottom: 0;
	color: #444;
}
.cu-panel-week-days {
	position: absolute;
	left: 0;	right: 0;
	height: 30px;
	top: 30px;
	color: #777;
}
.cu-week {
	position: absolute;
	height: 30px;
	left: 0;	right: 0;
}
.cu-month-name, .cu-year-name {
	position: absolute;
	height: 30px;
	width: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	color: #777;
	font-size: 10px;
}


.cu-pre-row .cu-panel-week-days { left: 10%; }
.cu-pre-row .cu-week, .cu-pre-row .cu-half-year {left: 10%; }
.cu-pre-row .cu-month-name, .cu-pre-row .cu-year-name {width: 10%; }


.cu-day-name {
	top: 0; bottom: 0; position: absolute; width: 14%;
	display: flex;	justify-content: center;	align-items: center;
	box-sizing: border-box;
	border-left: 1px solid white;
}
.cu-day-name-select { background: #eff8fc; color: #0f3f53;}

.cu-panel-bottom {	left: 0;	right: 0;	bottom: 0;	height: 12px;	}
.cu-panel-top {		left: 0;	right: 0;	top: 60px;	height: 12px;	}

.cu-panel-header-title:hover,  .cu-panel-bottom:hover,  .cu-panel-top:hover,  .cu-panel-header-left:hover,  .cu-panel-header-right:hover  {	color: #000;	background: #eee; }
.cu-panel-header-title:active, .cu-panel-bottom:active, .cu-panel-top:active, .cu-panel-header-left:active, .cu-panel-header-right:active {	color: white;	background: #666; }

.cu-panel-button		.cu-arrow 		{fill: #aaa; transition: .2s; }
.cu-panel-button:hover	.cu-arrow		{fill: #444;}
.cu-panel-button:active	.cu-arrow		{fill: #fff;}

.cu-day, .cu-day-month {
	transition: .1s;
	color: #444;
	position: absolute;
	width: 14%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-left: 1px solid white;
	border-top: 1px solid white;
	box-sizing: border-box;
	cursor: default;
}
.cu-day-month { background: #F1F1F1; }
.cu-day-month.cu-day-hol { background: #f9eeed;}

.cu-day:hover, .cu-day-month:hover {
	background: #e1e1e1;
	color: black;
}
.cu-day-hol {
	color: #d43f3a;
}
.cu-day-hol:hover { background: #f7dcdb;	color: #6e0603; }

.cu-day-month.cu-day-select, .cu-day.cu-day-select {	background: #999; color: white; }
.cu-day-month.cu-day-hol.cu-day-select, .cu-day-hol.cu-day-select {	background: #e27e7a; }

.cu-day-month.cu-day-hover, .cu-day.cu-day-hover {	background: #666; color: white; }
.cu-day-hol.cu-day-hover {	background: #d43f3a; }

.cu-month {
	background: #f7f7f7; 
	transition: .1s;
	color: #444;
	position: absolute;
	width: 24%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-left: 2px solid white;
	border-top: 2px solid white;
	box-sizing: border-box;
	cursor: default;
}
.cu-month:hover {
	color: #000;	background: #ddd;
}
.cu-half-year {
	position: absolute;
	height: 45px;
	left: 0; right: 0;
}
.cu-year-name {
	height: 45px;
}

.cu-month-select {
	background: #e3eff5;
	color: #1f5e7d;
}
.cu-month-select:hover {
	background: #c2dfed;
	color: #0f2f3e;
}