.tbu-tab, .tbu-pageTab, .tbu-title, .tbu-icon, 
.tbu-search, .tbu-loop, .tbu-searchInput {
	position: relative;				box-sizing: border-box;				display: flex;					
}
/* header for tabs */
.tbu-header {
	position: absolute;				overflow: visible;
	left: 9px;		right: 3px;		top: 0;			height: 31px;
	display: flex;
}
.tbu-header:focus {
	border: none;					outline: none;
}
/* Container */
.tbu-container {
	position: absolute;				z-index: 5;
	left: 0;		right: 0;		top: 30px;		bottom: 0;
	border-top: 1px solid #1976d2;
	background: white;				box-sizing: border-box; 
}
.tbu-default {
	border: 1px solid #8eafc1;		border-top: 0;	
	position: absolute;
	left: 0;		right: 0;		top: 0;				bottom: 0;
}

/* Tab and its children */
.tbu-tab {	
	border-radius: 12px 12px 0 0;	overflow: hidden;
	border-width: 1px 1px 0 1px;	cursor: default;
	border-style: solid;			margin-left: -6px; 
	min-width: 30px;				width: 150px;
}
.tbu-icon {	
	margin: 2px;					flex-shrink: 1;
	width: 12px;					height: 12px;
	background-size: 12px; 			
}
.tbu-docket {
	flex-shrink: 6;					flex-grow: 6;
	overflow: hidden;				white-space: nowrap;
	font-size: 13px;				
}
.tbu-close {
	margin: 2px 0 2px 2px;			flex-shrink: 0;
	width: 12px;					height: 12px;
}
.tbu-icon, .tbu-docket, .tbu-close {	display: flex;		position: relative;			z-index: 1;	}

/* tabs behavior */
.tbu-tab-active	{
	padding: 7px 4px 0 6px;			z-index: 6;						
	color: #333;					border-color: #1976d2;	
	height: 29px;					top: 2px;
	font-weight: bold;
}
.tbu-tab-nactive	{
	padding: 4px 4px 0 6px;			transition: .3s;
	z-index: 4;						color: #555;
	border-color: #8AAED1; 			
	height: 27px;					top: 5px;
}
.tbu-tab-nactive::after {
	background: #555;				content: '.';
	position: absolute;				color: #555;
	opacity: 0.1;					z-index: 0;
	left: 0; right: 0; top: 0; bottom: 0;
}

/* New tab */
.tbu-pageTab {	
	flex-shrink: 0;					z-index: 4;
	width: 24px;					height: 24px;
	padding: 3px;					margin-left: 2px;
	top: 5px;
}

/* Search tab */
.tbu-searchTab {
	flex-grow: 2;					flex-shrink: 0;
	height: 28px;
}
.tbu-loop {
	float: right;					margin-top: 8px; 
	height: 18px;					width: 18px;
}
.tbu-searchInput{
	float: right;
	height: 22px;					width: 150px;
	margin: 6px 4px 0 4px;			padding: 1px 8px;
	border: 1px solid #1976d2;		border-radius: 11px;	
}
.tbu-searchInput:focus { outline: none; }